* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

:root {
    --font-color: #141414;
    --primary-color: #f8e8d6;
    --light-primary-color: #65C99A;
    --dark-primary-color: #0B8049;
    --secondary-color: #1E68DC;
    --light-secondary-color: #4FA1ED;
    --dark-secondary-color: #2A569A;
    --error-color: #FF4554;
    --light-error-color: #F78893;
    --dark-error-color: #C71F2F;
    --waring-color: #EDC14F;
    --light-waring-color: #FDE047;
    --dark-waring-color: #A16207;
    --gray-color: #bababa;

    --sidebar-color-base: #c3e5b9;
    --dark-sidebar-color: #1b1b1b;
}

html,
body {
    scroll-behavior: smooth;
}
    